<div>
  <label for="nev" class="block text-sm font-medium leading-6 text-neutral-50 font-semibold">Név</label>
  <div class="relative rounded-md shadow-sm">
    <input ng-model="name" type="text" name="nev" id="nev" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-1 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Munkáltatott neve">
  </div>  
</div>
<div>
  <label for="cim" class="block text-sm font-medium leading-6  mt-2 text-neutral-50 font-semibold">Cím</label>
  <div class="relative rounded-md shadow-sm">
    <input ng-model="address" type="text" name="cim" id="cim" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-1 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Lakcím">
  </div>  
</div>
<div>
  <label for="pozicio" class="block text-sm font-medium leading-6 mt-2 text-neutral-50 font-semibold">Pozíció</label>
  <div class="relative rounded-md shadow-sm">
    <input ng-model="position" type="text" name="pozicio" id="pozicio" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-1 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Betöltött pozíció">
  </div>
</div>  
<div>
  <label for="oraber" class="block text-sm font-medium leading-6 mt-2 text-neutral-50 font-semibold">Órabér</label>
  <div class="relative rounded-md shadow-sm">
    <input ng-model="pricePerHour" type="number" name="oraber" id="oraber" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-1 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="HUF">
  </div> 
</div>

<div class="flex gap-2">
    <button ng-click="Create()" class="bg-emerald-400 hover:bg-emerald-500 text-gray-800 font-semibold mt-5 mx-auto py-2 px-4 border border-emerald-500 rounded shadow"> Hozzáadás </button>
</div>

<table class="w-full mt-10 *:border *:border-white">
<thead>
  <tr class="*:border *:border-white *:p-2">
    <th>
      Név
    </th>
    <th>
      Cím
    </th>
    <th>
      Pozíció
    </th>
    <th>
      Órabér
    </th>
    <th>
      Törlés
    </th>
  </tr>
</thead>
<tbody>
  <tr class="*:border *:border-white *:p-2" ng-repeat="employee in alkalmazottak">
    <td>
      {{employee.name}}
    </td>
    <td>
      {{employee.address}}
    </td>
    <td>
      {{employee.position}}
    </td>
    <td>
      {{employee.pricePerHour | currency: "HUF " : false : ""}}
    </td>
    <td>
      <button ng-click="Remove(employee.id)" class="text-red-400">X</button>
    </td>
  </tr>
</tbody>
</table>